a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em !important;
    margin-bottom: 0.3em !important;
}

.section-container {
    display: flex;
}

.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 820px;
    margin: 0 auto;
    background-color: #fff;
    width: 820px;
}

.title {
    margin-bottom: 10px;
    display: inline-block;
}

.fa-star {
    vertical-align: text-top;
    margin-left: 9px;
}

.page-guide {
    font-size: 1rem !important;
    line-height: 1rem !important;
    margin: 16px 0 !important;
}

.list-style {
    display: flex;
    padding: 0 0 10px;
    height: 25px;
    margin-bottom: 10px;
    align-items: flex-end;
    justify-content: space-between;
}

.total-article {
    color: #333;
    font-size: 13px;
    vertical-align: top;
}

.total-article-num {
    font-weight: bold;
}

.sort_area {
    float: right;
    position: relative;
}

#articlesPerPage {
    margin: 0;
}

.custom-input {
    height: 35px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0.25rem;
}

#article-col-table {
    border-top: 2px solid;
    padding-top: 10px;
}

table {
    width: 100%;
    border-spacing: 0;
}

#article-row-table tbody td {
    height: 28px;
    padding: 5px 0px;
    border-bottom: 1px solid #f2f2f2;
}

.td-article {
    padding-left: 12px;
    padding-right: 18px;
    width: 484px;
}

.article-num-cell {
    display: table-cell;
}

.article-num {
    width: 88px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.td-author,
.td-create-date,
.td-hit,
.td-like {
    text-align: center;
}

.title-list {
    display: table-cell;
    padding-top: 1px;
}

.inner-title-name {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    word-break: break-word;
}

.article-title-link {
    line-height: 18px;
    color: #333;
    display: block;
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-bottom-edge {
    color: #959595;
    font-weight: bold;
    font-size: 17px;
}

.prefix {
    color: #959595;
    font-weight: bold;
    margin-right: 2px;
}

.parent-article-is-deleted {
    color: red;
    font-weight: bold;
}

.articles-comment-count {
    color: #ff2f3b;
    margin: 0 2px 0 2px;
    font-weight: 700;
}

.author-name {
    width: 106px;
}

.article-author-row {
    display: inline-block;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.article-title-link:hover,
.author-name-link:hover {
    text-decoration: underline;
}

.board-article-control-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.article-write-btn {
    min-width: 46px;
    padding: 10px 12px;
    font-size: 13px;
    line-height: 36px;
    color: #000;
    background-color: #eff0f2;
    border: 1px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}

.pagination-box,
.search-box {
    display: flex;
    height: 40px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
}

.search-box {
    border-top: 1px solid #ebebea;
    border-top-color: #ebebea;
    padding: 16px 0 16px;
}

.pagination-box {
    margin-top: 32px;
    padding: 16px 0 16px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    padding: 6px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    color: #666;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s, border-color 0.2s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: #ffffff;
    border-color: #4CAF50;
}

.pagination a:hover {
    background-color: #45a049;
    border-color: #45a049;
    color: #ffffff;
}

.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-criteria,
.search-keyword {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.custom-input,
.date-input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date-input {
    width: 90px;
}

.select-date {
    display: flex;
}

.date-input {
    width: 90px;
}

.search-btn {
    padding: 8px 15px;
    background-color: #03C75A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.search-btn:hover {
    background-color: #04a74d;
}