body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,



fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

footer {
    margin-top: 200px;
    text-align: center;
}

img,
fieldset {
    border: 0;
}

img {
    vertical-align: top;
}

body {
    background-color: #fff;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li,
ol,
dl {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

em {
    font-style: normal;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

.d-none {
    display: none;
}

.wrap-main {
    display: flex;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    flex-direction: column;
}

.cafe-banner {
    background-image: url(https://i.imgur.com/cvAN5sB.png);
    width: 1072px;
    height: 178px;
    border: 4px solid #e5e5e5;
    margin-top: 20px;
}

.content-wrap {
    display: flex;
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.search-box-main {
    padding: 16px 0 16px;
    display: flex;
    justify-content: flex-end;
}

.search-form-main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.custom-search-input-main {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.search-btn-main {
    padding: 8px 15px;
    background-color: #03C75A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.search-btn-main:hover {
    background-color: #04a74d;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
    margin-right: 16px;
}

.cafe-info-action {
    background-color: #fff;
    text-align: left;
}

.cafe-details,
.user-activity {
    text-align: left;
}

.cafe-action-tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 38px;
    border-top: 2px solid;
    border-bottom: 1px solid;
    border-top-color: #333;
    border-bottom-color: #e5e5e5;
}

.cafe-action-tab li {
    position: relative;
    flex: 1;
    height: 38px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    color: #959595;
}

.cafe-action-tab li+li:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #D9D9D9;
    opacity: 0.5;
}

.cafe-action-tab li button {
    width: 100%;
    height: 38px;
    font-weight: bold;
    color: #959595;
}

.cafe-info-content {
    padding: 15px 10px 12px;
}

.cafe-info-content li {
    display: block;
    overflow: hidden;
    float: none;
    width: auto;
    padding-top: 3px;
}

.cafe-info-content li:first-child {
    float: left;
    position: relative;
    margin-right: 8px;
    padding-top: 0;
}

.cafe-info-content-ls {
    display: block;
    overflow: hidden;
    float: none;
    width: auto;
    padding-top: 3px;
}

.info-contents-ls-a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #e2e2e2;
    border-radius: 22px;
}

.cafe-info-content li:nth-child(2) {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    vertical-align: top;
}

.cafe-info-content li:last-child {
    color: #666666;
}

.member-count-invited {
    display: flex;
    justify-content: space-between;
}

.manager-info {
    display: inline-block;
    max-width: 70px;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    line-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.manager-name,
.member-nick-name {
    max-width: 70px;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.member-nick-name:hover {
    text-decoration: underline;
}

.ico-manager {
    display: inline-block;
    padding: 1px 2px 1px;
    border-radius: 4px;
    border: 2px solid;
    font-size: 10px;
    line-height: 13px;
    color: #949494;
    text-align: center;
    vertical-align: top;
    font-weight: 700;
}

.member-count {
    padding: 12px 10px;
    border-top: 1px solid;
    font-size: 12px;
    line-height: 16px;
    border-top-color: #e5e5e5;
    color: #333333;
}

.member-count li {
    cursor: pointer;
    position: relative;
}

.member-count li strong {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.join-cafe a,
.write-cafe a {
    display: block;
    height: 38px;
    margin-bottom: 9px;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    border-radius: 6px;
    background-color: #5a5a5a;
    font-weight: bold;
    line-height: 38px;
}

.cafe-login ul li a,
.cafe-logout ul li a {
    color: #333;
    background-color: #ffffff;
    display: block;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}

.profile-change {
    padding: 14px 10px;
}

.profile-thumb {
    float: left;
    position: relative;
    width: 58px;
    height: 58px;
    margin-right: 12px;
}

.profile-thumb img {
    border-radius: 50%;
}

.activity-info {
    display: flex;
    color: #000000;
    padding-top: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
}

.membership-date {
    font-size: 12px;
}

.edit-thumb:hover {
    text-decoration: underline;
}

.activity-details {
    position: relative;
    padding: 13px 10px;
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    color: #666666;
}

.activity-details ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.activity-details ul li:last-child {
    display: flex;
    justify-content: space-between;
}

.activity-details svg {
    margin: -5px -2px -5px -3px;
}

.board-container {
    margin: 8px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.board-container svg {
    margin: -5px -2px -5px -3px;
}

.board-container ul {
    padding: 0 10px;
    margin-top: 6px;
    font-size: 13px;
    line-height: 24px;
    border-bottom: 1px solid #e5e5e5;
}

.board-container ul li:first-child {
    margin-top: 2px;
}

.board-container ul li:last-child {
    margin-bottom: 6px;
}

.favorite-board {
    display: flex;
    justify-content: space-between;
    padding: 11px 12px 9px;
    border-bottom: 1px solid #e5e5e5;
}

.favorite-board h3:hover,
.hover-underline:hover {
    text-decoration: underline;
}

.up-and-down-btn {
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="-4 -4 15 12" x="68" y="48"><path fill="%23777" fill-rule="evenodd" d="M3.5 4L7 0H0z"/></svg>');
    background-repeat: no-repeat;
    width: 12px;
    height: 17px;
}

.board-instructions {
    padding: 0 10px;
    margin-top: 6px;
    font-size: 13px;
    line-height: 24px;
}

.board-instructions li {
    padding-bottom: 6px;
}

.board-list li {
    display: flex;
    justify-content: space-between;
}

.board-list li a:hover {
    text-decoration: underline;
}

.article-count {
    text-decoration: none;
}

.board-group {
    display: flex;
    justify-content: space-between;
    padding: 11px 12px 9px;
    border-bottom: 1px solid #e5e5e5;
}

.comment-item,
.tag-item {
    background: #e5e5e5;
    margin: 5px 0;
}

.banner-item {
    margin: 16px auto;
}

.banner-content {
    height: 60px;
    width: 200px;
    margin: 0 auto;
    background-size: 200px 60px;
    text-align: center;
    cursor: pointer;
    background-image: url(https://i.imgur.com/dCtwRkK.png);
    background-repeat: no-repeat;
}

.banner-title {
    display: block;
    max-width: 180px;
    padding-top: 35px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-decoration: none;
    color: black;
}

.comment-content,
.tag-content {
    padding: 16px 12px;
}

.comment-list {
    padding-bottom: 10px;
}

.comment-detail {
    padding: 5px 25px;
}

.comment-link ul li {
    list-style: disc;
}

.latest-article-pagination {
    margin-top: 10px;
    text-align: right;
}

.tag-header {
    display: flex;
    justify-content: space-between;
}

.no-tags,
.tag-detail {
    margin: 16px 0 16px 8px;
    overflow: hidden;
}