body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

footer {
    margin-top: 200px;
    text-align: center;
}

img,
fieldset {
    border: 0;
}

img {
    vertical-align: top;
}

body {
    background-color: #fff;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li,
ol,
dl {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

.cafe-banner {
    text-align: center;
}

.content-wrap {
    display: flex;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    clear: both;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
}

.cafe-info-action {
    background-color: #fff;
    text-align: left;
}

.cafe-details,
.user-activity {
    text-align: left;
}

.cafe-action-tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 38px;
    border-top: 2px solid;
    border-bottom: 1px solid;
    border-top-color: #333;
    border-bottom-color: #e5e5e5;
}

.cafe-action-tab li {
    position: relative;
    flex: 1;
    height: 38px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    color: #959595;
}

.cafe-action-tab li+li:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #D9D9D9;
    opacity: 0.5;
}

.cafe-action-tab li button {
    width: 100%;
    height: 38px;
    font-weight: bold;
    color: #959595;
}

.cafe-info-content {
    padding: 15px 10px 12px;
}

.cafe-info-content li:first-child {
    float: left;
    position: relative;
    margin-right: 8px;
    padding-top: 0;
}

.cafe-info-content-ls {
    display: block;
    overflow: hidden;
    float: none;
    width: auto;
    padding-top: 3px;
}